body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#ccc;
  }
  .container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px cyan;
    padding: 20px;
  }
  h1 {
    text-align: center;
  }
  #taskInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  #addTaskBtn {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #taskList {
    list-style-type: none;
    padding: 0;
  }
  .taskItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  .taskItem:last-child {
    border-bottom: none;
  }
  .deleteBtn {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  